			.h1{
				color: skyblue; 
			    }
			.td1{
				background-color: aqua; 
			   }
				
			.p2{
				color: white ; 
			    padding:10px 10pc 30px 80px;}
		
			.p3{color: black ; 
			    padding:30px 10pc 30px 80px;}
			.p21{
				color: black ; 
			    padding:1px 10pc 30px 80px;}
			.p22{
				color: black ; 
			    padding:10px 10pc 30px 80px;}
			
		    #d01:color: black;
		    #d1:hover {background-color: grey;}	
			#d3:hover {background-color: grey;}